{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
   
   <form method="POST">
    {% csrf_token %}
    <div class="main">
        <h2>PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        {% for m in data %}
                        <tr>
                            <td>Username</td>
                            <td>:</td>
                            <td>
                                <input type="text" value="{{m.fnm}}" name="fn">
                                <input type="text" value="{{m.id}}" name="idn" hidden>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td><input type="email" value="{{m.eml}}" name="em"></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td><input type="number" value="{{m.mob}}" name="mb"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>:</td>
                            <td><input type="text" value="{{m.psw}}" name="ps"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><button>Save</button></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        
        
    </div>
    </form>
    <!-- End -->
</body>
</html>




























